.main-logo {
    z-index: 99;
    margin-left: 23%;
    margin-top: -0%;
}

.tagline {
    text-align: center;
}

.vision {
    text-align: center;
}

.v-m-ission {
    background-image: url(../images/vision2.png);
    background-size: 100% 150%;
    background-repeat: no-repeat;
    width: 114%;
    padding: 3%;
    margin-left: -5.5%;
}

.about-desc {
    display: flex;
}

.about-desc1 {
    margin-top: 5%;
    width: 100%;
}

.about-desc2 {
    padding-left: 1%;
    padding-right: 2%;
}