@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.main-logo {
    z-index: 99;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: -0%;
}

.items {
    /* width: 100% !important; */
    padding-top: 4%;
}

.address-img-text {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #348e38;
}

.email {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #348e38;
}

.phone {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #348e38;
}

.box .text_centre {
    text-align: center;
}

.card {
    width: 375px;
    border: none;
}

.form-control {
    border: 2px solid #bdc1d2;
    font-size: 13px;
    height: 48px;
}

.form-control:focus {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #348e38 !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.form {
    margin-bottom: 25px;
}

.form textarea {
    height: 100px;
    resize: none;
}

.form a {
    position: absolute;
    right: 8px;
    bottom: 10px;
    color: #6ca0d6;
    font-size: 13px;
    text-decoration: none;
    z-index: 10;
    background-color: #fff;
    padding: 5px;
}

.quote {
    font-size: 13px;
}


.send {
    height: 46px;
    font-size: 14px;
    background-color: #348e38;
}

.send:hover {
    background-color: #65ef6c;
}