.about-desc {
    display: flex;
}

.about-desc1 {
    width: 100%;
}

.about-desc2 {
    padding-left: 1%;
    padding-right: 2%;
}

@media (max-width:600px) {
    .about-desc {
      display: block;
      width:100%;
    }
    .about-desc1 {
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1%;
    }
    .about-desc2 {
        padding-left: 1%;
        padding-right: 2%;
    }
}